//
//  Config.xcconfig
//  PhotoSearchAPI
//
//  Created by 이상민 on 1/22/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//Client_ID = NdbWCR_8zpsxdk-IEMvCeiiE3qXrnqrJUDo0qABfJQ4
Client_ID = K7pCumKJkOKTs3t2cCSWRjBfeKC8cKY_RNqEeBFlLsU
